/codewars/7kyu/compound-array/target/
/codewars/6kyu/which-are-in/target/
/codewars/6kyu/single-word-pig-latin/target/
/codewars/6kyu/ease-the-stockbroker/target/
/codewars/5kyu/first-variation-on-caesar-cipher/target/
/codewars/5kyu/second-variation-on-caesar-cipher/target/
/codewars/5kyu/help-your-granny/target/
/codewars/7kyu/java-functional-programming-part-one-the-beginning/target/
/codewars/7kyu/java-functional-programming-part-two-multiline-functions/target/