/codewars/7kyu/compound-array/target/
/codewars/6kyu/which-are-in/target/
/codewars/6kyu/single-word-pig-latin/target/
/codewars/6kyu/ease-the-stockbroker/target/
/codewars/5kyu/first-variation-on-caesar-cipher/target/
/codewars/5kyu/second-variation-on-caesar-cipher/target/
/codewars/5kyu/help-your-granny/target/
/codewars/7kyu/java-functional-programming-part-one-the-beginning/target/
/codewars/7kyu/java-functional-programming-part-two-multiline-functions/target/
/codewars/7kyu/java-functional-programming-part-three-closured-f-business/target/
/codewars/7kyu/java-functional-programming-part-four/target/
/codewars/5kyu/best-travel/target/
/codewars/5kyu/weight-4-weight/target/
/codewars/5kyu/perimeter-of-squares-in-a-rectangle/target/
/codewars/5kyu/merged-string-checker/target/
/codewars/6kyu/equal-sides-of-an-array/target/
/codewars/6kyu/80-s-kids-number-7-shes-a-small-wonder/target/
/codewars/4kyu/reverse-polish-notation-calculator/target/
/codewars/4kyu/valid-braces/target/