/codewars/java/7kyu/compound-array/target/
/codewars/java/6kyu/which-are-in/target/
/codewars/java/6kyu/single-word-pig-latin/target/
/codewars/java/6kyu/ease-the-stockbroker/target/
/codewars/java/5kyu/first-variation-on-caesar-cipher/target/
/codewars/java/5kyu/second-variation-on-caesar-cipher/target/
/codewars/java/5kyu/help-your-granny/target/
/codewars/java/7kyu/java-functional-programming-part-one-the-beginning/target/
/codewars/java/7kyu/java-functional-programming-part-two-multiline-functions/target/
/codewars/java/7kyu/java-functional-programming-part-three-closured-f-business/target/
/codewars/java/7kyu/java-functional-programming-part-four/target/
/codewars/java/5kyu/best-travel/target/
/codewars/java/5kyu/weight-4-weight/target/
/codewars/java/5kyu/perimeter-of-squares-in-a-rectangle/target/
/codewars/java/5kyu/merged-string-checker/target/
/codewars/java/6kyu/equal-sides-of-an-array/target/
/codewars/java/6kyu/80-s-kids-number-7-shes-a-small-wonder/target/
/codewars/java/4kyu/reverse-polish-notation-calculator/target/
/codewars/java/4kyu/valid-braces/target/
/codewars/java/4kyu/Binary-multiple-of-three/target/
/codewars/java/4kyu/pyramid-slide-down/target/
/codewars/java/4kyu/string-mix/target/
/codewars/java/4kyu/decode-the-morse-code-advanced/target/
/codewars/java/8kyu/lario-and-muigi-pipe-problem/target/
/codewars/java/6kyu/salesmans-travel/target/

